<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Fab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge *ngIf="isFab">
    <ion-fab-button>
      <ion-icon name="cog"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="danger" (click)="onCancel(action)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" (click)="onValidate(action)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
